<div class="definition-header">
  {{word.word}}
</div>

<div class="definition-attributes">
  <span class="part-of-speech">{{partOfSpeech}}</span>
  <span class="syllables">{{syllables}}</span>
  <span class="pronunciation">{{pronunciation}}</span>
</div>

<ol class="definition-list">
  {{#each definitions as |definition|}}
    {{definition-item definition=definition}}
  {{/each}}
</ol>
