<p class="definition">{{definition.definition}}</p>

{{#if definition.examples}}
<div class="examples">
  {{#each definition.examples as |example|}}
    <p class="example">{{example}}</p>
  {{/each}}
</div>
{{/if}}

{{#if definition.synonyms}}
  <div class="related">
    <span class="title">Synonyms:</span>
    {{#each definition.synonyms as |word|}}
      <span class="word-link">
        {{#link-to 'word' word}}{{word}}{{/link-to}}
      </span>
    {{/each}}
  </div>
{{/if}}

{{#if definition.antonyms}}
  <div class="related">
    <span class="title">Antonyms:</span>
    {{#each definition.antonyms as |word|}}
      <span class="word-link">
        {{#link-to 'word' word}}{{word}}{{/link-to}}
      </span>
    {{/each}}
  </div>
{{/if}}

{{#if validGraphTypes}}
  <div class="related">
    <span class="title">Relationships <span class="small">(click to visualize)</span>:</span>
    {{#each validGraphTypes as |type|}}
      <a class="word-link" {{action 'selectGraphType' type}}>
        {{type.name}}
      </a>
    {{/each}}
  </div>
{{/if}}

{{#if selectedGraphType}}
  {{definition-net relationship=selectedGraphType}}
{{/if}}
