<p class="definition">{{model.definition}}</p>

{{#if model.examples}}
<div class="examples">
  {{#each model.examples as |example|}}
    <p class="example">{{example}}</p>
  {{/each}}
</div>
{{/if}}

{{#if model.synonyms}}
  <div class="related">
    <span class="title">Synonyms:</span>
    {{#each model.synonyms as |word|}}
      <span class="word-link">
        {{#link-to 'word' word}}{{word}}{{/link-to}}
      </span>
    {{/each}}
  </div>
{{/if}}

{{#if model.antonyms}}
  <div class="related">
    <span class="title">Antonyms:</span>
    {{#each model.antonyms as |word|}}
      <span class="word-link">
        {{#link-to 'word' word}}{{word}}{{/link-to}}
      </span>
    {{/each}}
  </div>
{{/if}}


{{#if validGraphTypes}}
  <div class="related">
    <span class="title">Relationships <span class="small">(click to visualize)</span>:</span>
    {{#each validGraphTypes as |type|}}
      <a class="word-link" {{action 'selectGraphType' type}}>
        {{type.name}}
      </a>
    {{/each}}
  </div>
{{/if}}

{{#if selectedGraphType}}
  {{definition-tree model=selectedGraphType}}
{{/if}}
