<p class="mb-2">{{definition.definition}}</p>

{{#if definition.examples}}
  <div class="examples italic text-gray-500 mb-2">
    {{#each definition.examples as |example|}}
      <p class="pl-8">{{example}}</p>
    {{/each}}
  </div>
{{/if}}

{{#if definition.synonyms}}
  <div>
    <span>Synonyms:</span>
    {{#each definition.synonyms as |word index|}}
      <span class="word-link">
        <LinkTo
          @route="word"
          @model={{word}}
          @linkTitle={{word}}
          class="text-{{color}}-500 hover:text-{{color}}-300"
        />
      </span>
    {{/each}}
  </div>
{{/if}}

{{#if definition.antonyms}}
  <div>
    <span>Antonyms:</span>
    {{#each definition.antonyms as |word|}}
      <span class="word-link">
        <LinkTo
          @route="word"
          @model={{word}}
          @linkTitle={{word}}
          class="text-{{color}}-500 hover:text-{{color}}-300"
        />
      </span>
    {{/each}}
  </div>
{{/if}}
