<div class="bg-gray-100 flex flex-col h-screen">
  <nav class="p-4 bg-blue-700">
    <div class="container flex items-center">
      <LinkTo @route="index" class="text-white text-xl">WordNet</LinkTo>
      <span class="flex-1"></span>
      <SearchBox @word={{model.id}} @card={{false}} class="w-24"></SearchBox>
    </div>
  </nav>

  <div class="py-4 flex-1 overflow-y-auto">
    {{#each-in model.definitionsByPartOfSpeech as |partOfSpeech definitions|}}
      <Definition::Card
        @word={{model}}
        @partOfSpeech={{partOfSpeech}}
        @definitions={{definitions}}
        class="container card mb-4"
      />
    {{/each-in}}
  </div>
</div>

